.what-to-learn {
  background-color: white;
  border: 1px solid var(--secondary-border-color);
  width: 58%;
  margin: 20px 0 40px 0;
}
.learn-content {
  padding: 28px;
}
.learn-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.learn-item {
  display: flex;
  gap: 10px;
  color: var(--primary-font-color);
  width: 48%;
}
