.translucent-btn {
  background-color: white;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-font-color);
  padding: 16px 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 10px 0px;
}
.translucent-btn:hover {
  background-color: var(--ternary-border-color);
}
