.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  border-bottom: 1px var(--secondary-border-color) solid;
  background-color: white;
  position: relative;
  z-index: 100;
}
.nav-bar .bars-icon {
  display: none;
}
.nav-bar .search-icon {
  display: none;
}
.logo img {
  height: 35px;
}
.nav-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px 45px;
  border-bottom: 1px var(--secondary-border-color) solid;
}
.option {
  font-size: small;
  background-color: transparent;
}
.option a {
  text-decoration: none;
}

.option a:visited {
  text-decoration: none;
  color: var(--main-font-color);
}

.option a:hover {
  text-decoration: none;
  color: var(--logo-color);
}

.option a:active {
  text-decoration: none;
}
.option i {
  font-size: 20px;
}
.search-bar {
  background-color: #f7f9fa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  width: 40%;
  border: 1px var(--primary-border-color) solid;
  border-radius: 25px;
}
#search-btn {
  background-color: transparent;
  border: none;
  padding: 12px 12px;
  color: var(--secondary-font-color);
}
.input-field {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: var(--primary-font-color);
  caret-color: var(--primary-font-color);
}

.nav-btn {
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid var(--primary-border-color);
  font-weight: bold;
}
.nav-btn:hover {
  background-color: var(--secondary-border-color);
}
