.main-content-container {
  background-color: var(--primary-border-color);
  padding: 40px 110px;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  height: fit-content;
  width: 60%;
  color: white;
}
.description {
  font-size: 19px;
}
.link {
  text-decoration: underline;
  color: var(--secondary-logo-color);
}
